#main-header img {

  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 50%;
  
}
.profile-img {
  justify-content: space-around;

  padding-top: 50px;
  box-shadow: 0px 9px 6px -6px rgb(59, 59, 59);
}
#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}
.Header {
  /* margin: 5px; */
  box-shadow: 0px 9px 6px -6px black;
  
}
#home,
#resume,
#myProjects,
#contact{
    padding-top: 1rem;
    
}

.git{
  margin-right: 100px;
}
.moduleBG{
  width: 16rem;
}
.homeRow{
   justify-content: space-around;
        }
.projectImage{
  height: 100%;
  width: 100%;
        }
.projectImage:hover{
  opacity: 0.8;
  cursor: pointer;
}

.contactIcons{
  display: flex;
  justify-content: left;
  align-items: center;
}
.phoneContact{
  margin-left: 1.5rem;
}
.phoneNumber,
.email{
  margin-left: 8px;
}
.job{
  min-height: 470px;
  max-height: 470px;
}

.job-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
@media only screen and (max-width: 975px){
  .homeRow{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .social{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .name{
    font-size:2rem ;
  }
.phoneNumber,
.email{
    font-size: 0.8rem;
    margin-left: 6px;
}

}